<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="admin/common/template" lang="vi">
<head>
<meta charset="UTF-8" />
<title th:text="'Tra mã'"></title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="row">
			<div class="col-md-12">
				<div>
					<h3 class="title-5 m-b-35">Tra Mã</h3>
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div>
								<div class="form-group">
									<label> Mã Sản Phẩm <input class="form-control" id="barcode-input" type="text">
									</label>
									<button id="btn-search" class="btn btn-secondary">Tìm</button>
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<h4>Thông tin nhập kho</h4>
							<br>
							<table id="product-table" class="table table-responsive">
								<thead>
									<tr>
										<th>ID</th>
										<th>Mã vạch</th>
										<th>Ảnh</th>
										<th>Kho hàng</th>
										<th>Ngày Nhập</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
							<br>
						</div>
						<div class="col-md-12 col-md-12">
							<h4>Thông tin xuất kho</h4>
							<br>
							<table id="order-table" class="table table-responsive">
								<thead>
									<tr>
										<th>ID</th>
										<th>Tên</th>
										<th>Ảnh</th>
										<th>Khách Hàng</th>
										<th>Phương thức tính giá</th>
										<th>Khối Lượng/Thể Tích</th>
										<th>Giá</th>
										<th>Tổng Tiền</th>
										<th>Ghi Chú</th>
										<th>Mã Vạch</th>
										<th>Ngày Tạo</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
					<script th:inline="javascript">
          var csrf_token = [[${_csrf.token}]];
          $("#btn-search").on("click", function (e) {
            var barcode = $("#barcode-input").val();
            $.ajax({
              url: "/admin/check-barcode?barcode=" + barcode,
              type: "POST",
              dataType: "json",
              headers: {'X-CSRF-TOKEN': csrf_token},
              success: function (data) {
                if (data != null) {
                  var products = data["products"];
                  if (products == null || products.length < 1) $("#product-table tbody").html("<tr><td colspan='5' class='text-center'>Không có dữ liệu</td></tr>");
                  else {
										var content = "";
										products.forEach(function (e) {
											content += "<tr>";
											content += '<td>' + e.id + '</td>';
											content += '<td>' + e.barcode + '</td>';
											if (e.image != null) {
												content += '<td><img width="100px" src="/image/' + e.image + '"></td>';
											} else {
												content += '<td>N/A</td>';
											}
											content += '<td>' + e.storageName + '</td>';
											content += '<td>' + e.createdDate + '</td>';
											content += "</td>";
										});
										$("#product-table tbody").html(content);
									}

                  var orders = data["orders"];
                  if (orders == null || orders.length < 1) $("#order-table tbody").html("<tr><td colspan='11' class='text-center'>Không có dữ liệu</td></tr>");
                  else {
										content = "";
										orders.forEach(function (e) {
											content += "<tr>";
											content += '<td>' + e.id + '</td>';
											content += '<td>' + e.name + '</td>';
											if (e.image != null) {
												content += '<td><img width="100px" src="/image/' + e.image + '"></td>';
											} else {
												content += '<td>N/A</td>';
											}
											content += '<td>' + e.customerName + '</td>';
											content += '<td>' + (e.configPriceType === 1 ? "Cân nặng" : "Thể tích khối") + '</td>';
											content += '<td>' + formatNumberWithNegativeSign(e.weight) + '</td>';
											content += '<td>' + formatNumberWithNegativeSign(e.price) + '</td>';
											content += '<td>' + formatNumberWithNegativeSign(e.totalPrice) + '</td>';
											content += '<td>' + e.note + '</td>';
											content += '<td>' + function () {
												var tmp = "";
												e.barcodes.forEach(function (a) {
													tmp += ('[' + a + ']  ');
												});
												return tmp;
											}() + '</td>';
											content += '<td>' + e.createdDate + '</td>';
											content += "</td>";
										});
										$("#order-table tbody").html(content);
									}
                }
              }
            });
          });
        </script>
				</div>
			</div>
		</div>
	</div>
</body>
</html>