<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="admin/common/template">
<head>
<meta charset="UTF-8" />
<title>Danh sách chi phí phát sinh</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<script>
			$(function() {
				$("#toDate").datetimepicker({
					format : 'd/m/Y H:i',
					timepicker : true
				});
				$("#fromDate").datetimepicker({
					format : 'd/m/Y H:i',
					timepicker : true
				});
			});
		</script>
		<div class="row">
			<div class="col-md-12">
				<h3 class="title-5 m-b-35">Danh Sách Chi Phí Phát Sinh</h3>
				<div class="table-data__tool">
					<div class="table-data__tool-left"></div>
					<div class="table-data__tool-right">
						<button class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#add-extracost">
							<i class="zmdi zmdi-plus"></i>Thêm mới
						</button>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<div class="form-group">
							<label class="control-label" th:text="#{from.date}"></label>: <input name="fromDate" id="fromDate" th:placeholder="#{from.date}"
								class="form-control form-control-sm" />
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="form-group">
							<label class="control-label" th:text="#{to.date}"></label>: <input name="toDate" id="toDate" th:placeholder="#{to.date}"
								class="form-control form-control-sm" />
						</div>
					</div>
				</div>
				<hr />
				<div class="table-responsive table-responsive-data2">
					<table class="table table-data2" id="datatable">
						<thead>
							<tr>
								<th></th>
								<th>ID</th>
								<th>Khách Hàng</th>
								<th>Tên</th>
								<th>Giá</th>
								<th>Lý do</th>
								<th>Ngày tạo</th>
								<th>Hình ảnh</th>
								<th th:text="#{text.option}"></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th><button id="delButt" class="text-danger" data-toggle="tooltip" data-original-title="Xoá hết">
										<i class="fa fa-trash"></i>
									</button></th>
								<th>ID</th>
								<th>Khách Hàng</th>
								<th>Tên</th>
								<th>Giá</th>
								<th>Lý do</th>
								<th>Ngày tạo</th>
								<th>Hình ảnh</th>
								<th th:text="#{text.option}"></th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
		<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header" th:text="#{user.delete.confirm.message}"></div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{text.no}"></button>
						<a class="btn btn-danger btn-ok" style="color: white;" th:text="#{text.delete}"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="confirm-delete-multi" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header" th:text="#{user.delete.confirm.message}"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{text.no}"></button>
						<button class="btn btn-danger btn-ok" style="color: white;" th:text="#{text.delete}"></button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="please-select-dialog" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-body">Vui lòng tích chọn các dòng để xoá?</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{text.cancel}"></button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="add-extracost" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">
							<span th:text="'Thêm Giá'" th:remove="tag"></span>
						</h5>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" enctype="multipart/form-data">
							<div class="form-group row">
								<label class="col-sm-3 form-label">Tên Khách Hàng</label>
								<div class="col-sm-9">
									<select required="required" class="form-control" id="customerId" name="customerId">
										<option value="">Tất Cả</option>
										<option th:each="customer: ${customers}" th:value="${customer.id}" th:text="${customer.name}">
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 form-label">Tên Hàng</label>
								<div class="col-sm-9">
									<input required="required" class="form-control" type="text" placeholder="Tên" id="name" name="name" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 form-label">Giá</label>
								<div class="col-sm-9">
									<input required="required" class="form-control number" type="text" placeholder="Giá" id="cost" name="cost" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 form-label">Lý do</label>
								<div class="col-sm-9">
									<textarea required="required" class="form-control" placeholder="Lý do" id="reason" name="reason"></textarea>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 form-label" th:text="'Ảnh'"></label>
								<div class="col-sm-9">
									<input type="file" class="form-control" id="image" name="imageFile" />
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3"></div>
								<div class="form-group col-sm-9">
									<div>
										<button id="addButton" type="submit" style="width: 60%;" class="btn btn-primary waves-effect waves-light" th:text="#{text.add}"></button>
										<button type="reset" class="btn btn-warning waves-effect waves-light" th:text="#{text.reset}"></button>
										<button type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal" th:text="#{text.cancel}"></button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="update-extracost" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">
							<span th:text="'Cập nhật Giá'" th:remove="tag"></span>
						</h5>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" enctype="multipart/form-data">
							<div class="form-group row">
								<label class="col-sm-3 form-label">ID</label>
								<div class="col-sm-9">
									<input class="form-control" type="text" readonly="readonly" name="id" id="id" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 form-label">Tên Khách Hàng</label>
								<div class="col-sm-9">
									<select required="required" class="form-control" id="customerId" name="customerId">
										<option value="">Tất Cả</option>
										<option th:each="customer: ${customers}" th:value="${customer.id}" th:text="${customer.name}">
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 form-label">Tên Hàng</label>
								<div class="col-sm-9">
									<input required="required" class="form-control" type="text" placeholder="Tên hàng hóa" id="name" name="name" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 form-label">Giá</label>
								<div class="col-sm-9">
									<input required="required" class="form-control number" type="text" placeholder="Giá" id="cost" name="cost" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 form-label">Lý do</label>
								<div class="col-sm-9">
									<textarea required="required" class="form-control" placeholder="Lý do" id="reason" name="reason"></textarea>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 form-label" th:text="'Ảnh'"></label>
								<div class="col-sm-9">
									<input type="file" class="form-control" id="image" name="imageFile" />
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-3"></div>
								<div class="form-group col-sm-9">
									<div>
										<button id="addButton" type="submit" style="width: 60%;" class="btn btn-primary waves-effect waves-light" th:text="#{text.update}"></button>
										<button type="reset" class="btn btn-warning waves-effect waves-light" th:text="#{text.reset}"></button>
										<button type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal" th:text="#{text.cancel}"></button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" th:inline="javascript">

			var vietnameseUrl = [[@{/user/vendor/datatables/Vietnamese.json}]];
			var url = [[@{/admin/extra-cost/list}]];
			var editUrl = [[@{/admin/extra-cost/update}]];
			var delUrl = [[@{/admin/extra-cost/delete}]];
			 var delMultiUrl = [[@{/admin/extra-cost/delete-multi}]];
			var csrf_token = [[${_csrf.token}]];
			var searchHolderText = 'Tim kiếm...';
			var addURL = [[@{/admin/extra-cost/add}]];

			var id = "";
			var table;
			$(document).ready(function () {
				table = $('#datatable').DataTable({
					"processing": true,
					"serverSide": true,
					"ajax": {
						type: "POST",
						url: url,
						dataType: "json",
						contentType: "application/json",
						headers: { 'X-CSRF-TOKEN': csrf_token },
						data: function (d) {
							d.toDate = $('#toDate').val();
			            	d.fromDate = $('#fromDate').val();
							d.roleList = [1, 2];
							searchDTO = d;
							return JSON.stringify(d);
						}
					},
					"lengthMenu": [10, 25, 50, 100, 200],
					"columns": [
						{ "data": "id" },
						{ "data": "id" },
						{ "data": "customerName"},
						{ "data": "name" },
						{ "data": "cost" },
						{ "data": "reason" },
						{ "data": "createdDate" },
						{ "data": "image" },
						{ "data": "id" }
					],
					"order": [1, "desc"],
					"select": {
						'style': 'multi'
					},
					"createdRow": function (row, data, index) {
						$(row).addClass('tr-shadow');
					},
					"columnDefs": [
						{
							'targets': 0,
							'checkboxes': {
								'selectRow': true
							}
						},
						{
							 "render": function (data, type, row) {
								 return formatNumber(data);
								 
				              },
			   	                "targets": 4
				   	         },
						{
							"render": function (data, type, row) {
				            	  if (data != null) {
				                	return "<img src='/image/" + row.image + "' width='100' />";
				            	  }
				            	  return "N/A";
				              },
							"orderable": false,
							"targets": 7
						},
						{
							"render": function (data, type, row) {
								var content = '<div class="table-data-feature"> <button class="item" data-toggle="modal" data-target="#update-extracost" data-json="' + encodeURI(JSON.stringify(row)) +'"><i class="zmdi zmdi-edit"></i></button>';
								content += '<button class="item" data-toggle="modal" data-target="#confirm-delete" data-json="' + encodeURI(JSON.stringify(row)) +'"><i class="zmdi zmdi-delete"></i></button></div>';
								return content;
							},
							"orderable": false,
							"targets": 8
						}
					],
					"language": {
						"url": vietnameseUrl,
						"searchPlaceholder": searchHolderText
					},
					"initComplete": function (settings, json) {
						$('#fromDate').change(function (e) {
							table.draw();
					    });
						$('#toDate').change(function (e) {
							table.draw();
					    });
					},
					"drawCallback": function () {
						table.rows().every(function () {
							this.nodes().to$().after('<tr class="spacer"></tr>')
						})
					}
				});

				$('#datatable tbody').on('click', 'tr', function () {
					var data = table.row($(this)).data();
					id = data.id;

				});

				//triggered when modal is about to be shown
				$('#confirm-delete').on('show.bs.modal', function (e) {
					//get data-id attribute of the clicked element
					var jsonStr = $(e.relatedTarget).data('json');
			  		var row = JSON.parse(decodeURI(jsonStr));
					//populate the textbox
					$(e.currentTarget).find('div.modal-body').html('<strong>' + (row.name) + '</strong>');
				});
				
				$('#confirm-delete').on('click', '.btn-ok', function (e) {
					
					var $modalDiv = $(e.delegateTarget);
					$.get(delUrl + '/' + id).then(function () {
						$modalDiv.modal('hide');
						table.draw();
					}, function () {
						$modalDiv.find('div.modal-body').html('<b>đang sử dụng!</b>');
					});
				});
				
				
				$('#update-extracost').on('show.bs.modal', function (e) {
					//get data-id attribute of the clicked element
					var jsonStr = $(e.relatedTarget).data('json');
			  		var row = JSON.parse(decodeURI(jsonStr));
					//populate the textbox
					$("#update-extracost #customerId").val(row.customerId);
					$("#update-extracost #name").val(row.name);
					$("#update-extracost #cost").val(formatNumber(row.cost));
					$("#update-extracost #reason").val(row.reason);
					$("#update-extracost #id").val(row.id);
				});
				
				// Handle form submission event
				var rowIds = [];
				$('#delButt').on('click', function (e) {
					var rows_selected = table.column(0).checkboxes.selected();
					rowIds = [];
					// Iterate over all selected checkboxes
					$.each(rows_selected, function (index, rowId) {
						// Create a hidden element
						rowIds.push(rowId);
					});
					if (rows_selected.length == 0) {
						$("#please-select-dialog").modal('show');
					} else {
						$("#confirm-delete-multi").modal('show');
					}
				});

				$('#confirm-delete-multi').on('click', '.btn-ok', function (e) {
					var $modalDiv = $(e.delegateTarget);
					$.get(delMultiUrl + '/' + rowIds.toString()).then(function () {
						$modalDiv.modal('hide');
						table.draw();
					});
				});
				
		        $("#add-extracost form").submit(function (e) {
		        	parseNumber()
		            e.preventDefault();
		            var formData = new FormData(this);
		            $.ajax({
		              url: addURL,
		              type: 'POST',
		              dataType: "json",
		              cache: false,
		              contentType: false,
		              processData: false,
		              headers: {'X-CSRF-TOKEN': csrf_token},
		              data: formData,
		              success: function () {
		                $("#add-extracost form")[0].reset();
		                $('#add-extracost').modal('hide');
		                table.draw();
		              },
		              error: function () {
		                alert("Loi xay ra");
		              }
		            });
		          });
		        
		        $("#update-extracost form").submit(function (e) {
		        	parseNumber()
		            e.preventDefault();
		            var formData = new FormData(this);
		            $.ajax({
		              url: editUrl,
		              type: 'POST',
		              dataType: "json",
		              cache: false,
		              contentType: false,
		              processData: false,
		              headers: {'X-CSRF-TOKEN': csrf_token},
		              data: formData,
		              success: function () {
		                $("#update-extracost form")[0].reset();
		                $('#update-extracost').modal('hide');
		                table.draw();
		              },
		              error: function () {
		                alert("Loi xay ra");
		              }
		            });
		          });
			});
		</script>
	</div>
</body>
</html>