<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="general/common/template">

<head>
	<meta charset="UTF-8" />
	<title>Tra cứu bảo hiểm xã hội</title>
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
</head>

<body>
	<div layout:fragment="content" th:remove="tag">
		<script>
			$(function () {
				$("#toDate").datetimepicker({
					format: 'd/m/Y',
					timepicker: true
				});
				$("#fromDate").datetimepicker({
					format: 'd/m/Y',
					timepicker: true
				});
				$("#dob").datetimepicker({
					format: 'd/m/Y',
					timepicker: true
				});
			});
		</script>
		<div class="col-md-12">
			<h3 class="title-5 m-b-35">Tra cứu bảo hiểm xã hội</h3>
			<div class="row">
				<div class="col-md-3 col-sm-3">
					<div class="form-group">
						<label class="control-label" text="">Tỉnh/Thành phố</label>: <select name="provinceId"
							id="province" class="form-control">
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-3">
					<div class="form-group">
						<label class="control-label" text="">Huyện</label>: <select name="districtId" id="district"
							class="form-control">
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-3">
					<div class="form-group">
						<label class="control-label" text="">Xã</label>: <select name="villageId" id="village"
							class="form-control">
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-3">
					<div class="form-group">
						<label class="control-label" text="">Mã BHXH</label>: <input name="code" id="code"
																				  placeholder="Mã bảo hiểm xã hội" class="form-control form-control-sm" />
					</div>
				</div>
				<div class="col-md-3 col-sm-3">
					<div class="form-group">
						<label class="control-label" text="">CMND</label>: <input name="identity" id="identity"
																				  placeholder="Chứng minh nhân dân" class="form-control form-control-sm" />
					</div>
				</div>
				<div class="col-md-3 col-sm-3">
					<div class="form-group">
						<label class="control-label" text="">Tên</label>: <input name="name" id="name"
																				 placeholder="Họ tên" class="form-control form-control-sm" />
					</div>
				</div>
				<div class="col-md-3 col-sm-3">
					<div class="form-group">
						<label class="control-label" text="">Ngày sinh</label>: <input name="dob" id="dob"
																				 placeholder="Ngày sinh" class="form-control form-control-sm" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-3">
					<div class="form-group">
						<label class="control-label" th:text="#{from.date}"></label>: <input name="fromDate"
							id="fromDate" th:placeholder="#{from.date}" class="form-control form-control-sm" />
					</div>
				</div>
				<div class="col-md-3 col-sm-3">
					<div class="form-group">
						<label class="control-label" th:text="#{to.date}"></label>: <input name="toDate" id="toDate"
							th:placeholder="#{to.date}" class="form-control form-control-sm" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-3">
					<div class="form-group">
						<button class="btn btn-primary" type="button" id="lookup">Tìm kiếm</button>
					</div>
				</div>
				<div class="col-md-3 col-sm-3">
					<div class="form-group">
						<button class="btn btn-warning" type="reset" id="reset">Nhập lại</button>
					</div>
				</div>
			</div>
			<div class="table-responsive table-responsive-data2">
				<table class="table table-data2" id="datatable">
					<thead>
						<tr>
							<th>ID</th>
							<th>Mã BHXH</th>
							<th>Tên người dùng</th>
							<th>Ngày sinh</th>
							<th>Hình thức đóng</th>
							<th>Địa chỉ</th>
							<th>Ngày đăng ký</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<script type="text/javascript" th:inline="javascript">

			var getAllProvince = [[@{/api/location/getAllProvince}]]
			var getDistrictByProvince = [[@{/api/location/getDistrictByProvince}]]
			var getVillageByDistrict = [[@{/api/location/getVillageByDistrict}]]

			var province = $('#province');
			var district = $('#district');
			var village = $('#village');

			$(document).ready(function () {
				$.ajax({
					url: getAllProvince,
					type: 'GET',
					dataType: "json",
					contentType: "application/json",
					success: function (data) {
						for (var i = 0; i < data.length; i++) {
							var $option = $("<option/>", {
								value: data[i].id,
								text: data[i].name
							});
							province.append($option);
						}
					},
					error: function () {
						alert("Loi xay ra");
					}
				});
				$.ajax({
					url: getDistrictByProvince,
					type: 'GET',
					dataType: "json",
					contentType: "application/json",
					data: {"provinceId" : "01" },
					success: function (data) {
						for (var i = 0; i < data.length; i++) {
							var $option = $("<option/>", {
								value: data[i].id,
								text: data[i].name
							});
							district.append($option);
						}
					},
					error: function () {
						alert("Loi xay ra");
					}
				});
				$.ajax({
					url: getVillageByDistrict,
					type: 'GET',
					dataType: "json",
					contentType: "application/json",
					data: {"districtId" : "001"},
					success: function (data) {
						for (var i = 0; i < data.length; i++) {
							var $option = $("<option/>", {
								value: data[i].id,
								text: data[i].name
							});
							village.append($option);
						}
					},
					error: function () {
						alert("Loi xay ra");
					}
				});
			});

			province.on('change', function () {
				$.ajax({
					url: getDistrictByProvince,
					type: 'GET',
					dataType: "json",
					contentType: "application/json",
					data: {"provinceId" : province.val()},
					success: function (data) {
						district.empty();
						village.empty();
						for (var i = 0; i < data.length; i++) {
							var $option = $("<option/>", {
								value: data[i].id,
								text: data[i].name
							});
							district.append($option);
						}
						$.ajax({
							url: getVillageByDistrict,
							type: 'GET',
							dataType: "json",
							contentType: "application/json",
							data: {"districtId" : data[0].id},
							success: function (data) {
								village.empty();
								for (var i = 0; i < data.length; i++) {
									var $option = $("<option/>", {
										value: data[i].id,
										text: data[i].name
									});
									village.append($option);
								}
							},
							error: function () {
								alert("Loi xay ra");
							}
						});
					},
					error: function () {
						alert("Loi xay ra");
					}
				});
			});

			district.on('change', function () {
				$.ajax({
					url: getVillageByDistrict,
					type: 'GET',
					dataType: "json",
					contentType: "application/json",
					data: {"districtId": district.val()},
					success: function (data) {
						village.empty();
						for (var i = 0; i < data.length; i++) {
							var $option = $("<option/>", {
								value: data[i].id,
								text: data[i].name
							});
							village.append($option);
						}
					},
					error: function () {
						alert("Loi xay ra");
					}
				});
			});

			var vietnameseUrl = [[@{/vendor/datatables/Vietnamese.json}]];
			var searchHolderText = 'Tim kiếm...';
			var url = [[@{/api/lookup}]];

			var id = "";
			var table;
			var lookup = $('#lookup')
			$('#reset').on('click', function(){
				$(':input').val('');
			});
			lookup.on('click', function(){
				table = $('#datatable').DataTable({
					"ordering": false,
					"searching":false,
					"paging": false,
					"destroy": true,
					"info": false,
					"autoWidth": false,
					"processing": true,
					"serverSide": true,
					"ajax": {
						type: "POST",
						url: url,
						dataType: "json",
						contentType: "application/json",
						data: function (data) {
							data.provinceId = $('#province').val();
							data.districtId = $('#district').val();
							data.villageId = $('#village').val();
							data.code = $('#code').val();
							data.identity = $('#identity').val();
							data.name = $('#name').val();
							data.dob = $('#dob').val();
							data.toDate = $('#toDate').val();
			            	data.fromDate = $('#fromDate').val();
			            	data.maxResultCount = 1;
							return JSON.stringify(data);
						}
					},
					"columns": [
						{ "data": "id", className: "text-right" },
						{ "data": "code", className: "text-right" },
						{ "data": "user.name" },
						{ "data": "user.dob" },
						{ "data": "method" },
						{ "data": "user.location" },
						{ "data": "regDate" },
					],
					"createdRow": function (row, data, index) {
						$(row).addClass('tr-shadow');
					},
					"language": {
						"url": vietnameseUrl,
					},
					"initComplete": function (settings, json) {
					},
					"drawCallback": function () {
						table.rows().every(function () {
							this.nodes().to$().after('<tr class="spacer"></tr>')
						})
					}
				});
			});
		</script>
	</div>
</body>

</html>