<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="admin/common/template">
<head>
<meta charset="UTF-8" />
<title>Danh Sách Đơn Hàng</title>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">
function total1(){
	
	var unitPrice = $("#add-cartItem #unitPrice").val();
 	var quantity = $("#add-cartItem #quantity").val();
 	var shipPrice = $("#add-cartItem #shipPrice").val();
 	var total=(unitPrice*quantity)+parseInt(shipPrice);
 	 if(!isNaN(total)) $("#add-cartItem #total").val(total);
 	
 	 
 	
};   
</script>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<script>
			$(function() {
				$("#toDate").datetimepicker({
					format : 'd/m/Y H:i',
					timepicker : true
				});
				$("#fromDate").datetimepicker({
					format : 'd/m/Y H:i',
					timepicker : true
				});
			});
		</script>
		<div class="row">
			<div class="col-md-12">
				<h3 class="title-5 m-b-35">Tất Cả Đơn Hàng</h3>
				<div class="table-data__tool">
					<div class="table-data__tool-left"></div>
					<div class="table-data__tool-right">

						<div class="row">
							<div class="col-md-9 select-outline">
								<div class="form-group">
									<label>Trạng Thái Đơn Hàng:</label> <select required="required"
										class="form-control" id="statusOrderSearch"
										name="statusOrderSearch">
										<option th:value="${status}" style="background-color: Tomato">
											Lựa chọn trạng thái đơn hàng:</option>
										<option value="1">Đơn Hàng Chờ Thanh Toán</option>
										<option value="2">Đơn Hàng Chờ Shop Phát</option>
										<option value="3">Đơn Hàng Chờ Kho Nhận</option>
										<option value="4">Đơn Hàng Đã Giao Cho Khách</option>
									</select>
								</div>
							</div>
						</div>

					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<div class="form-group">
							<label class="control-label" th:text="#{from.date}"></label>: <input
								name="fromDate" id="fromDate" th:placeholder="#{from.date}"
								class="form-control form-control-sm" />
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="form-group">
							<label class="control-label" th:text="#{to.date}"></label>: <input
								name="toDate" id="toDate" th:placeholder="#{to.date}"
								class="form-control form-control-sm" />
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="row">
							<div class="col-md-9 select-outline">
								<div class="form-group">
									<label>Trạng Thái Đơn Hàng:</label> <select
										class=" mdb-select md-form md-outline colorful-select dropdown-primary"
										id="statusOrderSearch" name="statusOrderSearch">
										<option th:value="${status}" style="background-color: Tomato">
											Lựa chọn trạng thái đơn hàng:</option>
										<option value=" ">Tất Cả Trạng Thái</option>
										<option value="1">Đơn Hàng Chờ Thanh Toán</option>
										<option value="2">Đơn Hàng Chờ Shop Phát</option>
										<option value="3">Đơn hàng Chờ Kho Nhận</option>
										<option value="4">Đơn Hàng Đã Giao Cho Khách</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr />
				<div class="table-responsive table-responsive-data2">
					<table class="table table-data2" id="datatable">
						<thead>
							<tr>
								<th></th>
								<th>ID</th>
								<th>Ngày Tạo</th>
								<th>Tên Khách Hàng</th>
								<th>Mã Đơn Hàng</th>
								<th>Số Lượng Sản Phẩm</th>
								<th>Trạng Thái Đơn Hàng</th>
								<th th:text="#{text.option}"></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>
									<button id="delButt" class="text-danger" data-toggle="tooltip"
										data-original-title="Xoá hết">
										<i class="fa fa-trash"></i>
									</button>
								</th>
								<th>ID</th>
								<th>Ngày Tạo</th>
								<th>Tên Khách Hàng</th>
								<th>Mã Đơn Hàng</th>
								<th>Số Lượng Sản Phẩm</th>
								<th>Trạng Thái Đơn Hàng</th>
								<th th:text="#{text.option}"></th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
		<div class="modal fade" id="confirm-delete" tabindex="-1"
			role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header"
						th:text="'Bạn chắc chắn muốn xoá người dùng này?'"></div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							th:text="#{text.no}"></button>
						<a class="btn btn-danger btn-ok" style="color: white;"
							th:text="#{text.delete}"></a>
					</div>
				</div>
			</div>
		</div>


		<div class="modal fade" id="confirm-delete-multi" tabindex="-1"
			role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header"
						th:text="'Bạn chắc chắn muốn xoá các đơn hàng này?'"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							th:text="#{text.no}"></button>
						<button class="btn btn-danger btn-ok" style="color: white;"
							th:text="#{text.delete}"></button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="please-select-dialog" tabindex="-1"
			role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-body">Vui lòng tích chọn các dòng để xoá?</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							th:text="#{text.cancel}"></button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="view-cartItem" tabindex="-1" role="dialog"
			aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">
							<span th:text="'Chi Tiết Sản Phẩm'" th:remove="tag"></span>
						</h5>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" enctype="multipart/form-data"
							>

							<div class="form-group row">
								<label class="col-sm-3 form-label">ID:</label>
								<div class="col-sm-9">
									<input required="required" class="form-control" type="text" readonly="readonly"
										id="id" name="id" />
								</div>
							</div>


							<div class="form-group row">
								<label class="col-sm-3 form-label" th:text="'Tên Sản Phẩm'"
									for="product"></label>
								<div class="col-sm-9">
									<input required="required" class="form-control" type="text" readonly="readonly"
										th:placeholder="'Tên Sản Phẩm'" id="itemName" name="itemName" />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-sm-3 form-label" th:text="'Số Lượng'"
									for="quantity"></label>
								<div class="col-sm-9">
									<input readonly="readonly"
										class="form-control number" type="text"
										th:placeholder="'Số lượng'" id="quantity" name="quantity" />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-sm-3 form-label" th:text="'Giá Sản Phẩm (Tệ)'"
									for=" itemPriceNDT"></label>
								<div class="col-sm-9">
									<input readonly="readonly"
										class="form-control number" type="text"
										th:placeholder="'Giá Tệ'" id="itemPriceNDT"
										name="itemPriceNDT" />
								</div>
							</div>



							<div class="form-group row">
								<label class="col-sm-3 form-label" th:text="'Giá VC Nội Địa'"
									for="shipPrice"></label>
								<div class="col-sm-9">
									<input readonly="readonly"
										class="form-control number" type="text"
										th:placeholder="'Giá VC Nội Địa'" id="shipPrice"
										name="shipPrice" />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-sm-3 form-label" th:text="'Tổng Tệ'"
									for="totalAmountNDT"></label>
								<div class="col-sm-9">
									<textarea class="form-control" id="totalAmountNDT"
										name="totalAmountNDT" readonly="readonly"></textarea>
								</div>
							</div>


							<div class="form-group row">
								<label class="col-sm-3 form-label"
									th:text="'Tên Loại Sản Phẩm:'" for="propetiesName"></label>
								<div class="col-sm-9">
									<input readonly="readonly"  
										class="form-control " type="text"
										th:placeholder="'Tên Loại Sản Phẩm:'" id="propetiesName"
										name="propetiesName" />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-sm-3 form-label" th:text="'Ảnh Loại Sản Phẩm'"
									for="propetiesImage"></label>
								<div class="col-sm-9">
									<img name="propetiesImage" id="propetiesImage" src='' width='100' />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-sm-3 form-label"
									th:text="'Ghi Chú'" for="note"></label>
								<div class="col-sm-9">
									<input readonly="readonly"  
										class="form-control " type="text"
										th:placeholder="'Ghi Chú'" id="note"
										name="note" />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-sm-3 form-label" th:text="'Link Shop'"
									for="shopLink"></label>
								<div class="col-sm-9">
									<input  readonly="readonly"
										class="form-control " type="text"
										th:placeholder="'Link Shop'" id="shopLink" name="shopLink" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 form-label" th:text="'Tên Shop'"
									for="shopName"></label>
								<div class="col-sm-9">
									<input  readonly="readonly"
										class="form-control" type="text"
										th:placeholder="'Tên Shop'" id="shopName" name="shopName" />
								</div>
							</div>


							<div class="form-group row">
								<label class="col-sm-3 form-label" th:text="'Tình Trạng Hàng'"
									for="stock"></label>
								<div class="col-sm-9">
									<select class="form-control" name="stock" id="stock">
										<option th:value="1">Còn Hàng</option>
										<option th:value="0">Hết Hàng</option>
									</select>
								</div>
							</div>



							<div class="form-group row">
								<div class="col-sm-3"></div>
								<div class="form-group col-sm-9">
									<div>
										<button type="button"
											class="btn btn-danger waves-effect waves-light"
											data-dismiss="modal" th:text="#{text.cancel}"></button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


		<div class="modal fade" id="update-cart" tabindex="-1" role="dialog"
			aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">
							<span th:text="'Cập nhật đơn hàng'" th:remove="tag"></span>
						</h5>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" autocomplete="off"
							>
							<div class="form-group row">
								<label class="col-sm-3 form-label">Tên Khách Hàng:</label>
								<div class="col-sm-9">
									<select required="required" class="form-control"
										id="customerId" name="customerId">
										<option value="">Tất Cả</option>
										<option th:each="customer: ${customers}"
											th:value="${customer.id}" th:text="${customer.name}">
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 form-label">Mã Đơn Hàng:</label>
								<div class="col-sm-9">
									<input required="required" class="form-control" type="text"
										placeholder="Mã đơn hàng " id="orderCode" name="orderCode" />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-sm-3 form-label">Trạng Thái Đơn Hàng</label>
								<div class="col-sm-9">
									<select required="required" class="form-control"
										name="statusOrder" id="statusOrder">
										<option value="1">Đơn Hàng Chờ Thanh Toán</option>
										<option value="2">Đơn Hàng Chờ Shop Phát</option>
										<option value="3">Đơn hàng Chờ Kho Nhận</option>
										<option value="4">Đơn Hàng Đã Giao Cho Khách</option>
									</select>
								</div>
							</div>


							<div class="form-group row">
								<div class="col-sm-3"></div>
								<div class="form-group col-sm-9">
									<div>
										<button type="submit" style="width: 60%;"
											class="btn btn-primary waves-effect waves-light"
											th:text="#{text.update}"></button>
										<button type="reset"
											class="btn btn-warning waves-effect waves-light"
											th:text="#{text.reset}"></button>
										<button type="button"
											class="btn btn-danger waves-effect waves-light"
											data-dismiss="modal" th:text="#{text.cancel}"></button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


		<div class="modal fade" id="delete-config-price" tabindex="-1"
			role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header" th:text="'Bạn chắc chắn muốn xoá?'"></div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							th:text="#{text.no}"></button>
						<a class="btn btn-danger btn-ok" style="color: white;"
							th:text="#{text.delete}"></a>
					</div>
				</div>
			</div>
		</div>


		<div class="modal fade" id="add-cartItem" tabindex="-1" role="dialog"
			aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">
							<span th:text="'Thêm sản phẩm'" th:remove="tag"></span>
						</h5>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" enctype="multipart/form-data"
							autocomplete="off">
							<div class="form-group row">
								<label class="col-sm-3 form-label" th:text="'Tên Sản Phẩm'"
									for="product"></label>
								<div class="col-sm-9">
									<input required="required" class="form-control" type="text"
										th:placeholder="'Tên Sản Phẩm'" id="itemName" name="itemName" />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-sm-3 form-label" th:text="'Số Lượng'"
									for="quantity"></label>
								<div class="col-sm-9">
									<input onKeyUp="total1();" required="required"
										class="form-control number" type="text"
										th:placeholder="'Số lượng'" id="quantity" name="quantity" />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-sm-3 form-label" th:text="'Giá Sản Phẩm (Tệ)'"
									for=" itemPriceNDT"></label>
								<div class="col-sm-9">
									<input onKeyUp="total1();" required="required"
										class="form-control number" type="text"
										th:placeholder="'Giá Tệ'" id="itemPriceNDT"
										name="itemPriceNDT" />
								</div>
							</div>



							<div class="form-group row">
								<label class="col-sm-3 form-label" th:text="'Giá VC Nội Địa'"
									for="shipPrice"></label>
								<div class="col-sm-9">
									<input onKeyUp="total1();" required="required"
										class="form-control number" type="text"
										th:placeholder="'Giá VC Nội Địa'" id="shipPrice"
										name="shipPrice" />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-sm-3 form-label" th:text="'Tổng Tệ'"
									for="totalAmountNDT"></label>
								<div class="col-sm-9">
									<textarea class="form-control" id="totalAmountNDT"
										name="totalAmountNDT" readonly="readonly"></textarea>
								</div>
							</div>


							<div class="form-group row">
								<label class="col-sm-3 form-label"
									th:text="'Tên Loại Sản Phẩm:'" for="propetiesName"></label>
								<div class="col-sm-9">
									<input onKeyUp="total1();" required="required"
										class="form-control number" type="text"
										th:placeholder="'Tên Loại Sản Phẩm:'" id="propetiesName"
										name="propetiesName" />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-sm-3 form-label"
									th:text="'Ảnh Loại Sản Phẩm:'" for="propetiesImage"></label>
								<div class="col-sm-9">
									<input required="required" class="form-control" type="file"
										id="propetiesImage" name="propetiesImage" />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-sm-3 form-label" th:text="'Ghi Chú'"
									for="note"></label>
								<div class="col-sm-9">
									<input required="required"
										class="form-control " type="text"
										th:placeholder="'Ghi Chú'" id="note" name="note" />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-sm-3 form-label" th:text="'Link Shop'"
									for="shopLink"></label>
								<div class="col-sm-9">
									<input onKeyUp="total1();" required="required"
										class="form-control " type="text"
										th:placeholder="'Link Shop'" id="shopLink" name="shopLink" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 form-label" th:text="'Tên Shop'"
									for="shopName"></label>
								<div class="col-sm-9">
									<input  required="required"
										class="form-control " type="text"
										th:placeholder="'Tên Shop'" id="shopName" name="shopName" />
								</div>
							</div>


							<div class="form-group row">
								<label class="col-sm-3 form-label" th:text="'Tình Trạng Hàng'"
									for="stock"></label>
								<div class="col-sm-9">
									<select class="form-control" name="stock" id="stock">
										<option th:value="1">Còn Hàng</option>
										<option th:value="0">Hết Hàng</option>
									</select>
								</div>
							</div>


							<div class="form-group row">
								<div class="col-sm-3"></div>
								<div class="form-group col-sm-9">
									<div>
										<button id="addButton" type="submit" style="width: 60%;"
											class="btn btn-primary waves-effect waves-light"
											th:text="#{text.add}"></button>
										<button type="reset"
											class="btn btn-warning waves-effect waves-light"
											th:text="#{text.reset}"></button>
										<button type="button"
											class="btn btn-danger waves-effect waves-light"
											data-dismiss="modal" th:text="#{text.cancel}"></button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="delete-cartItem" tabindex="-1"
			role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header" th:text="'Bạn chắc chắn muốn xoá?'"></div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							th:text="#{text.no}"></button>
						<a class="btn btn-danger btn-ok" style="color: white;"
							th:text="#{text.delete}"></a>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" th:inline="javascript">
    var vietnameseUrl = "/user/vendor/datatables/Vietnamese.json";
    var urlList = "/admin/cart/list";
    var editUrl = "/admin/cart/update";
   
    var delUrl = "/admin/cart/delete";
    var delMultiUrl = "/admin/cart/delete-multi";
    var csrf_token = [[${_csrf.token}]];
    var searchHolderText = 'Tim kiếm mã đơn hàng...';
    var id = "";
    var cartId = "";
    var table;
    $(document).ready(function () {
      table = $('#datatable').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
          type: "POST",
          url: urlList,
          dataType: "json",
          contentType: "application/json",
          headers: {'X-CSRF-TOKEN': csrf_token},
         	
          data: function (d) {
        	
        	d.toDate = $('#toDate').val();
          	d.fromDate = $('#fromDate').val();	 	
            d.roleList = [3,2];
            d.statusOrder=$('#statusOrderSearch').val();
           
            return JSON.stringify(d);
          }
        },
        "lengthMenu": [10, 25, 50, 100, 200],
        "columns": [
          {"data": "id"},
          {"data": "id"},
          {"data": "createdDate"},
          {"data": "customerName"},
          {"data": "orderCode"},
         
          {
            "className": 'details-control',
            "orderable": false,
            "data": "cartItemDTOs.length",
            "defaultContent": '',
            "render": function (data, type, row) {
              return data ;
            }
          },
          {"data": "statusOrder"},
          {"data": "id"}
        ],
        "order": [1, "desc"],
        "select": {
          'style': 'multi'
        },
        "createdRow": function (row, data, index) {
          $(row).addClass('tr-shadow');
        },
        "columnDefs": [
          {
            'targets': 0,
            'checkboxes': {
              'selectRow': true
            }
          },
          {
            "render": function (data, type, row) {
              if (row.statusOrder === 1) {
                return '<span class="status--process">Đơn Hàng Chờ Thanh Toán</span>';
              } else if (row.statusOrder === 2) {
                return '<span class="status--process">Đơn Hàng Chờ Shop Phát</span>';
              } else if (row.statusOrder === 3) {
                return '<span class="status--process">Đơn hàng Chờ Kho Nhận</span>';
              }else if (row.statusOrder === 4) {
                  return '<span class="status--process">Đơn Hàng Đã Giao Cho Khách</span>';
              }
              
            },
            "orderable": false,
            "targets": 6
          },

          {
            "render": function (data, type, row) {
              var content = '<div class="table-data-feature"> <button class="item" data-toggle="modal" data-target="#update-cart" data-json="' + encodeURI(JSON.stringify(row)) + '"><i class="zmdi zmdi-edit"></i></button>';
              content += '<button class="item" data-toggle="modal" data-target="#confirm-delete" data-json="' + encodeURI(JSON.stringify(row)) + '"><i class="zmdi zmdi-delete"></i></button>';
              content += '<button class="item" data-toggle="modal" data-target="#add-cartItem" data-json="' + encodeURI(JSON.stringify(row)) + '"><i class="zmdi zmdi-assignment"></i></button>';


              return content;
            },
            "orderable": false,
            "targets": 7
          }
        ],
        "language": {
          "url": vietnameseUrl,
          "searchPlaceholder": searchHolderText
        },
        "initComplete": function (settings, json) {
        	$('#fromDate').change(function (e) {
				table.draw();
		    });
			$('#toDate').change(function (e) {
				table.draw();
		    });
			
			$('#statusOrderSearch').change(function(e){
				table.draw();
			})
			
        },
        "drawCallback": function () {
          table.rows().every(function () {
            this.nodes().to$().after('<tr class="spacer"></tr>')
          })
        }
      });

      // ````JS SELECT````
      
     
      
      $('#datatable tbody tr td button').on('click', 'tr', function () {
        var data = table.row($(this)).data();
        id = data.id;
        // if (!isNaN(data)) id = data.id;
        // else id = "";
      });

      function format(d) {
    	
        var content = '<table class="table table-bordered" style="margin:0px;padding:0px;">';
        content += '<tr>' +
          '<th>ID</th>' +
          '<th>Tên Sản Phẩm</th>' +
          '<th>Số Lượng</th>' +
          '<th>Giá Sản Phẩm (Tệ)</th>' +  
          '<th>Giá VC Nội Địa(Tệ)</th>' +
          '<th>Tổng Tệ (Tệ)</th>' +
          '<th>Tên Loại Sản Phẩm</th>' +
          '<th>Ảnh Loại Sản Phẩm</th>' +
          '<th>Ghi Chú</th>' +
          '<th>Link Shop</th>' +
          '<th>Tên Shop</th>' +
          '<th>Tình Trạng Hàng</th>' +
          '<th></th>' +
          '</tr>';
        for (var key in d.cartItemDTOs) {
        	 var obj = d.cartItemDTOs[key];
          content += '<tr>' +
            '<td>' + (obj.id) + '</td>' +
            '<td>' + (obj.itemName) + '</td>' +
            '<td>' + (obj.quantity) + '</td>' +
            '<td>' + obj.itemPriceNDT + '</td>' +
            '<td>' + (obj.shipPrice) + '</td>' +
            '<td>' + obj.totalAmountNDT + '</td>' +
            '<td>' + obj.propetiesName + '</td>' +  
            '<td>' +"<img src='/image/" + obj.propetiesImage + "' width='100' />"+ '</td>' +
            '<td>' + obj.note + '</td>' +
            '<td>' + obj.shopLink+ '</td>' +
            '<td>' +( obj.shopName) + '</td>' +
            '<td>' +( obj.stock==1?"Còn Hàng" : "Hết Hàng") + '</td>' +
            '<td><a class="btn btn-danger" data-toggle="modal" data-target="#delete-cartItem" style="color:#fff" data-id=' + obj.id + '><i class="fa fa-trash"></i></a> <a class="btn btn-primary" data-toggle="modal" data-target="#view-cartItem" data-json="' + encodeURI(JSON.stringify(obj)) + '"><i class="zmdi zmdi-assignment"></i></a></td>' 
            '</tr>';
        }
        
       
        content += '</table>';
     
        return content;
      }

      $('#datatable tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row(tr);

        if (row.child.isShown()) {
          row.child.hide();
          tr.removeClass('shown');
        } else {
          // Open this row
          row.child(format(row.data())).show();
          tr.addClass('shown');
        }
      });

      //triggered when modal is about to be shown
      $('#confirm-delete').on('show.bs.modal', function (e) {
        //get data-id attribute of the clicked element
        var jsonStr = $(e.relatedTarget).data('json');
        var row = JSON.parse(decodeURI(jsonStr));
        cartId = row.id;
        //populate the textbox
        $(e.currentTarget).find('div.modal-body').html('<strong>' + (row.orderCode)  + '</strong>');
      });

      $('#confirm-delete').on('click', '.btn-ok', function (e) {
        var $modalDiv = $(e.delegateTarget);
        $.get(delUrl + '/' + id).then(function () {
          $modalDiv.modal('hide');
          table.draw();
        }, function () {
          $modalDiv.find('div.modal-body').html('<b>Người dùng đang sử dụng!</b>');
        });
      });
      
      
      
      

      var cartItemId = "";
      $('#delete-cartItem').on('show.bs.modal', function (e) {
    	  cartItemId = $(e.relatedTarget).data('id');
      });
      $('#delete-cartItem').on('click', '.btn-ok', function (e) {
        var $modalDiv = $(e.delegateTarget);
        $.get("/admin/cart/delete-cartItem/" + cartItemId).then(function () {
          $modalDiv.modal('hide');
          table.draw();
        });
      });
      
      
      
      
      $('#add-cartItem').on('show.bs.modal', function (e) {
          var jsonStr = $(e.relatedTarget).data('json');
          var row = JSON.parse(decodeURI(jsonStr));
          cartId = row.id;
        
        });

      function check() {
          document.getElementById("feature").checked = true;
        }

        function uncheck() {
          document.getElementById("feature").checked = false;
        }
      
      
      $('#update-cart').on('show.bs.modal', function (e) {
        //get data-id attribute of the clicked element
        var jsonStr = $(e.relatedTarget).data('json');
        var row = JSON.parse(decodeURI(jsonStr));
        cartId = row.id;
        //populate the textbox  
         $("#update-cart #id").val(row.id);
         $("#update-cart #customerId").val(row.customerId);
         $("#update-cart #orderCode").val(row.orderCode);
         $("#update-cart #statusOrder").val(row.statusOrder);
       
      });
      
      
      $('#view-cartItem').on('show.bs.modal', function (e) {
          //get data-id attribute of the clicked element
          var jsonStr = $(e.relatedTarget).data('json');
          var row = JSON.parse(decodeURI(jsonStr));
          //populate the textbox  
          $("#view-cartItem #id").val(row.id);
           $("#view-cartItem #itemPriceNDT").val(row.itemPriceNDT);
           $("#view-cartItem #itemName").val(row.itemName);
           $("#view-cartItem #shipPrice").val(row.shipPrice);
           $("#view-cartItem #propetiesName").val(row.propetiesName);
           $("#view-cartItem #quantity").val(row.quantity);
           $("#view-cartItem #totalAmountNDT").val(row.totalAmountNDT);
           $("#view-cartItem #propetiesImage").attr("src", "/image/" + row.propetiesImage );
           $("#view-cartItem #note").val(row.note);
           $("#view-cartItem #shopLink").val(row.shopLink);
           $("#view-cartItem #shopName").val(row.shopName);
           $("#view-cartItem #stock").val(row.stock);
        });

    
    
    });
    

    // Handle form submission event
    var rowIds = [];
    $('#delButt').on('click', function (e) {
      var rows_selected = table.column(0).checkboxes.selected();
      rowIds = [];
      // Iterate over all selected checkboxes
      $.each(rows_selected, function (index, rowId) {
        // Create a hidden element
        rowIds.push(rowId);
      });
      if (rows_selected.length === 0) {
        $("#please-select-dialog").modal('show');
      } else {
        $("#confirm-delete-multi").modal('show');
      }
    });

    $('#confirm-delete-multi').on('click', '.btn-ok', function (e) {
      var $modalDiv = $(e.delegateTarget);
      $.get(delMultiUrl + '/' + rowIds.toString()).then(function () {
        $modalDiv.modal('hide');
        table.draw();
      });
    });
 
  

 
    $("#add-cartItem form").submit(function (e) {
        e.preventDefault();
        var formData = new FormData(this);
        $.ajax({
        	url: "/admin/cart/add-cartItem/" + cartId,
          type: 'POST',
          dataType: "json",
          cache: false,
          contentType: false,
          processData: false,
          headers: {'X-CSRF-TOKEN': csrf_token},
          data: formData,
          success: function () {
            $("#add-cartItem form")[0].reset();
            $('#add-cartItem').modal('hide');
            table.draw();
          },
          error: function () {
        	  $("#add-cartItem form")[0].reset();
              $('#add-cartItem').modal('hide');
        	  table.draw();
          }
        });
      });
    
    
    
    $("#update-cart form").submit(function (e) {
        e.preventDefault();
        var formData = new FormData(this);
        $.ajax({
        	url: "/admin/cart/update/" + cartId,
          type: 'POST',
          dataType: "json",
          cache: false,
          contentType: false,
          processData: false,
          headers: {'X-CSRF-TOKEN': csrf_token},
          data: formData,
          success: function () {
            $("#update-cart form")[0].reset();
            $('#update-cart').modal('hide');
            table.draw();
          },
          error: function () {
        	  $("#update-cart form")[0].reset();
              $('#update-cart').modal('hide');
        	  table.draw();
          }
        });
      });
  
    
    
    
    


  </script>
	</div>
</body>
</html>