<div th:fragment="header" th:remove="tag"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<header class="header-desktop3 d-none d-lg-block">
		<div class="section__content section__content--p35">
			<div class="header3-wrap">
				<div class="header__logo">
					<a href="/"> <span style="color: #fff; font-weight: bold;">
							Trang Chủ</span>
					</a>
				</div>
				<div class="header__navbar">
					<ul class="list-unstyled">
						<li class="has-sub"
							sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_SUBADMIN')"><a
							href="#"> <i class="fas fa-warehouse"></i> <span
								class="bot-line"></span>Quản Kho
						</a>
							<ul class="header3-sub-list list-unstyled">
								<li><a th:href="@{/admin/storage/list}">Kho Hàng</a></li>
								<li><a th:href="@{/admin/product/list}">Nhập Kho</a></li>
								<li><a th:href="@{/admin/order/list}">Xuất Kho</a></li>
								<li><a th:href="@{/admin/hangdu/list}">Hàng Dư</a></li>
								<li><a th:href="@{/admin/inventory/list}">Hàng Tồn</a></li>
								<li><a th:href="@{/admin/lost-product/list}">Hàng Thất
										Lạc</a></li>
								<li><a th:href="@{/admin/bus-contact/list}">Nhà xe</a></li>
								<li><a th:href="@{/admin/order-extra/list}">Đơn Hàng
										Phát Sinh</a></li>
							</ul></li>
						<li class="has-sub"
							sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_SUBADMIN')"><a
							href="#"> <i class="fas fa-user"></i> <span class="bot-line"></span>Quản
								lý tài khoản
						</a>
							<ul class="header3-sub-list list-unstyled">
								<li><a th:href="@{/admin/member/list}">Khách Hàng</a></li>
								<li><a th:href="@{/admin/staff/list}">Nhân Viên</a></li>
								<li><a th:href="@{/admin/config-level-member/list}">Cấu Hình Cấp Độ</a></li>
								<li><a th:href="@{/admin/topup-money/list}">Nạp Thẻ</a></li>
							</ul></li>
						<li class="has-sub"><a href="#"> <i
								class="fas fa-dollar-sign"></i> <span class="bot-line"></span>
								Quản Lý Doanh Thu
						</a>
							<ul class="header3-sub-list list-unstyled">
								<li><a th:href="@{/admin/fix-cost/list}">Chi phí cố
										định</a></li>
								<li><a th:href="@{/admin/extra-cost/list}">Chi phí phát
										sinh</a></li>
							</ul></li>
						<li class="has-sub"><a href="#"><i class="fas fa-paste"></i>
								<span class="bot-line"></span> Quản Lý Khác </a>
							<ul class="header3-sub-list list-unstyled">
								<li><a th:href="@{/admin/notification/list}">Thông Báo</a></li>
								<li><a th:href="@{/admin/report}">Báo Cáo</a></li>
								<li><a th:href="@{/admin/check-barcode}">Tra mã</a></li>
								<li><a th:href="@{/admin/rate/update}">Cập Nhật Tỷ Giá NDT</a></li>
							</ul></li>

						<li class="has-sub"><a href="#"><i class="fas fa-paste"></i>
								<span class="bot-line"></span> Quản Lý Đơn Hàng </a>
							<ul class="header3-sub-list list-unstyled">
							<li><a th:href="@{/admin/cart}">Tạo đơn hàng</a></li>
								<li><a th:href="@{/admin/cart/list?cId=}">Tất Cả Đơn
										Hàng</a></li>
								<li><a th:href="@{/admin/cart/report-cart}">Đơn Hàng
										Kiện Cáo</a></li>
								<li><a class="dropdown-toggle" role="button"
									id="dropdownMenuLink" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false"> Trạng Thái Đơn
										Hàng </a>

									<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
										<a class="dropdown-item" href="/admin/cart/list?cId=1">Đơn Hàng Chờ Thanh Toán</a>
										<a class="dropdown-item" href="/admin/cart/list?cId=2">Đơn Hàng Chờ Shop Phát</a> <a
											class="dropdown-item" href="/admin/cart/list?cId=3">Đơn Hàng Chờ Kho Nhận</a> <a
											class="dropdown-item" href="/admin/cart/list?cId=4">Đơn Hàng Đã Giao Cho Khách</a>
									</div></li>
							</ul></li>
					</ul>
				</div>
				<div class="header__tool">
					<div class="account-wrap">
						<div
							class="account-item account-item--style2 clearfix js-item-menu">
							<div class="content">
								<a class="js-acc-btn" th:href="@{/member/profile}"
									sec:authentication="principal.name"></a>
							</div>
							<div class="account-dropdown js-dropdown">
								<div class="info clearfix">
									<div class="content">
										<h5 class="name">
											<a th:href="@{/member/profile}"
												sec:authentication="principal.name"></a>
										</h5>
										<!--<span class="email"
											th:text="${#authentication.principal.roleId == 1 ? 'ADMIN' : 'Nhân Viên'}"></span>-->
									</div>
								</div>
								<div class="account-dropdown__body">
									<div class="account-dropdown__item">
										<a th:href="@{/member/profile}"> <i
											class="zmdi zmdi-account"></i>Thông tin tài khoản
										</a>
									</div>
									<div class="account-dropdown__item">
										<a th:href="@{/member/doi-mat-khau}"> <i
											class="zmdi zmdi-account"></i>Đổi mật khẩu
										</a>
									</div>
								</div>
								<div class="account-dropdown__footer">
									<a th:href="@{/dang-xuat}"> <i class="zmdi zmdi-power"></i>Đăng
										xuất
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- HEADER MOBILE-->
	<header class="header-mobile header-mobile-2 d-block d-lg-none">
		<div class="header-mobile__bar">
			<div class="container-fluid">
				<div class="header-mobile-inner">
					<a class="logo" href="/"> <span
						style="color: #fff; font-weight: bold;"> QUẢN LÝ BÁN HÀNG
							ONLINE </span>
					</a>
					<button class="hamburger hamburger&#45;&#45;slider" type="button">
						<span class="hamburger-box"> <span class="hamburger-inner"></span>
						</span>
					</button>
				</div>
			</div>
		</div>
		<nav class="navbar-mobile">
			<div class="container-fluid">
				<ul class="navbar-mobile__list list-unstyled">
					<li sec:authorize="hasAnyRole('ROLE_ADMIN')" class="has-sub"><a
						class="js-arrow" href="#"> <i class="fas fa-warehouse"></i>Quản
							Lý Kho
					</a>
						<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
							<li><a th:href="@{/admin/storage/list}">Kho Hàng</a></li>
							<li><a th:href="@{/admin/product/list}">Nhập Kho</a></li>
							<li><a th:href="@{/admin/order/list}">Xuất Kho</a></li>
							<li><a th:href="@{/admin/hangdu/list}">Hàng Dư</a></li>
							<li><a th:href="@{/admin/inventory/list}">Hàng Tồn</a></li>
							<li><a th:href="@{/admin/lost-product/list}">Hàng Thất
									Lạc</a></li>
							<li><a th:href="@{/admin/bus-contact/list}">Nhà xe</a></li>
							<li><a th:href="@{/admin/order-extra/list}">Đơn Hàng
									Phát Sinh</a></li>
						</ul></li>
					<li class="has-sub"><a class="js-arrow" href="#"> <i
							class="fas fa-user"></i> Quản Lý Tài Khoản
					</a>
						<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
							<li><a th:href="@{/admin/member/list}">Khách Hàng</a></li>
							<li><a th:href="@{/admin/staff/list}">Nhân Viên</a></li>
							<li><a th:href="@{/admin/topup-money/list}">Nạp Thẻ</a></li>
						</ul></li>
					<li class="has-sub"><a class="js-arrow" href="#"> <i
							class="fas fa-dollar-sign"></i>Quản Lý Chi Phí
					</a>
						<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
							<li><a th:href="@{/admin/fix-cost/list}">Chi phí cố định</a></li>
							<li><a th:href="@{/admin/extra-cost/list}">Chi phí phát
									sinh</a></li>
						</ul></li>
					<li class="has-sub"><a class="js-arrow" href="#"> <i
							class="fas fa-paste"></i>Quản Lý Khác
					</a>
						<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
							<li><a th:href="@{/admin/notification/list}">Thông Báo</a></li>
							<li><a th:href="@{/admin/report}">Báo Cáo</a></li>
							<li><a th:href="@{/admin/check-barcode}">Tra mã</a></li>
						</ul></li>

					<li class="has-sub"><a href="#"><i class="fas fa-paste"></i>
							<span class="bot-line"></span> Quản Lý Đơn Hàng </a>
						<ul class="header3-sub-list list-unstyled">
							<li><a th:href="@{/admin/cart/list-cart}">Tất Cả Đơn
									Hàng</a></li>




							<li><a th:href="@{/admin/cart/report-cart}">Đơn Hàng
									Kiện Cáo</a></li>



							<li><a class="dropdown-toggle" role="button"
								id="dropdownMenuLink" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false"> Trạng Thái Đơn
									Hàng </a>

								<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									<a class="dropdown-item" href="#">Đơn Hàng Chờ Thanh Toán</a> <a
										class="dropdown-item" href="#">Đơn Hàng Chờ Shop Phát</a> <a
										class="dropdown-item" href="#">Đơn Hàng Chờ Kho Nhận</a> <a
										class="dropdown-item" href="#">Đơn Hàng Đã Giao Cho Khách</a>
								</div></li>
						</ul></li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="sub-header-mobile-2 d-block d-lg-none">
		<div class="header__tool">
			<div class="account-wrap">
				<div
					class="account-item account-item&#45;&#45;style2 clearfix js-item-menu">
					<div class="content">
						<a class="js-acc-btn" th:href="@{/member/profile}"
							sec:authentication="principal.name"></a>
					</div>
					<div class="account-dropdown js-dropdown">
						<div class="info clearfix">
							<div class="content">
								<h5 class="name">
									<a th:href="@{/member/profile}"
										sec:authentication="principal.name"></a>
								</h5>
								<!-- <span class="email"
									th:text="${#authentication.principal.roleId == 1 ? 'ADMIN' : 'Nhân Viên'}"></span> -->
							</div>
						</div>
						<div class="account-dropdown__body">
							<div class="account-dropdown__body">
								<div class="account-dropdown__item">
									<a th:href="@{/member/profile}"> <i
										class="zmdi zmdi-account"></i>Thông tin tài khoản
									</a>
								</div>
								<div class="account-dropdown__item">
									<a th:href="@{/member/doi-mat-khau}"> <i
										class="zmdi zmdi-account"></i>Đổi mật khẩu
									</a>
								</div>
							</div>
						</div>
						<div class="account-dropdown__footer">
							<a th:href="@{/dang-xuat}"> <i class="zmdi zmdi-power"></i>Đăng
								xuất
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END HEADER MOBILE -->
</div>