<div th:fragment="header" th:remove="tag"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header class="header-desktop3 d-none d-lg-block">
        <div class="section__content section__content--p35">
            <div class="header3-wrap">
                <div class="header__logo"></div>
                <div class="header__navbar">
                    <ul class="list-unstyled">
                        <li class="has-sub"><a th:href=@{/home} style="color: #002677; font-weight: bold;"
                        > <i class="fa fa-home"></i> <span
                                class="bot-line"></span>
                            Trang Chủ
                        </a>
                        <li class="has-sub"><a style="color: #002677; font-weight: bold;"
                        > <i class="fa fa-search"></i> <span
                                class="bot-line"></span>
                            Tra cứu
                        </a>
                            <ul class="header3-sub-list list-unstyled">
                                <li><a th:href="@{/lookup}">Bảo hiểm xã hội</a></li>
                                <li><a th:href="@{/method/list}">Hình thức đóng</a></li>
                            </ul>
                        </li>
                        <li class="has-sub"><a style="color: #002677; font-weight: bold;"
                                               th:href="@{/signup}"> <i
                                class="fa fa-plus"></i> <span class="bot-line"></span>
                            Đăng ký</a>
                        </li>
                        <li class="has-sub"><a style="color: #002677; font-weight: bold;"
                                               th:href="@{/login}"> <i
                                class="fa fa-sign-in"></i> <span class="bot-line"></span>
                            Đăng nhập</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>